@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
       display: flex;
       justify-content: space-between;
       align-items: center; /*вертикальное выравнивание*/
       height: 120px;
    }
    &__btn{
        background-color: transparent; /*фон кнопки такой же как основной фон*/
        border: none;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;/*максимально отталкнул от себя все слева и справо*/
}

.menu{
    &__list{
        display: flex;
        padding-left: 35px;
        padding-right: 60px!important;
    }
    &__list-item + .menu__list-item{
        padding-left: 80px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
}

.rightside-menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    background-color: #fff;
    padding-top: 20px;
    width: 100%;
    z-index: 5;
    transition: all .6s; /*плавность появления выпадающего меню*/
    box-shadow: -2px 3px 17px 0px #000; /*разделитель вываливающегося меня от основной страницы*/
    &.rightside-menu--close{
        transform: translateX(500%);
    }
    &__close{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: -25px;
    }
    &__content{
       text-align: center;
        max-width: 485px;
        margin: 0 auto;
    }
    &__logo{
        margin-bottom: 15px;
        display: inline-block;
    }
    &__title{
        color: $title;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        position: relative;
        margin-bottom: 17px;
        padding-bottom: 17px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 252px;
            margin: 0 auto;
            height: 1px;
            background: #6D7278;
        }
    }
    &__text{
       margin-bottom: 75px;
    }
    &__images{
        max-width: 485px;
    }
}

.top{
    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            content: '';
            background-image: url(../images/slider-bg.jpg);
            position: absolute;
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
            background-repeat: no-repeat;
            }
    }
    &__slider-item{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img{
        margin-left: -10%;
        max-width: 703px;
        height: 815px;
        object-fit: cover; //Содержимое элемента обрезается, выравниваясь по центру с сохранением пропорций таким образом, чтобы полностью заполнить область контейнера.
    }
    &__slider-info{
        max-width: 645px;
        margin-left: 25px;
    }
    &__slider-title{
        color: &title;
        font-size: 110px;
        line-height: 134px;
        //делаем линию
        padding-bottom: 26px;
        margin-bottom: 26px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 185px;
            height: 1px;
            background: #6D7278;
        }
    }
    &__slider-text{
        max-width: 585px;
    }
}

.footer{
    &__content{
       background-color: #DFDFDF;
       padding: 60px 0 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 540px;
    }
    &__info-title{
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text{
        margin-bottom: 16px;
        max-width: 475px;
    }
    &__info-email{
        font-weight: 600;
        font-size: 14px;
        color: $title;
        display: inline-block; /*чтобы к ссылке можно было применить блочные селекторы,т.к. это ссылка, а огна строчная*/
        margin-bottom: 22px;
        padding-left: 30px; /*резервируем пустое место для конверта: размер конверта плюс отступ до него из макета*/
        position: relative;
        &::before{
            content: '';
            background-image: url('../images/footer-email.svg');
            left: 0;
            width: 16px;
            height: 12px;
            position: absolute;
            background-repeat: no-repeat;
            top: 8px;
        }
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        width: 100%;
        
        &::placeholder{ /*всегда нужно особое приглашение в плане стилей*/
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    &__form-button{
        background-color: $title;
        border: none;
        color: #fffff0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }
    &__social-list{
        width: 125px;
        margin-right: auto;
        margin-left: 99px;
    }
    &__social-link{
        padding-left: 28px;/*резервируем место под значки*/
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            left: 0;
            width: 16px;
            height: 16px;
            top: 5px;  
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/footer-facebook.svg);
    }
    &__social-link--instagram::before{
        background-image: url(../images/footer-instagram.svg);
        width: 14px;
        height: 14px;
        top: 4px;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/footer-Pinterest.svg);
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/footer-whatsapp.svg);
    }
    &__social-link--youtube::before{
        background-image: url(../images/footer-youtube.svg);
        width: 18px;
    }
    &__menu-list{
        margin-right: 60px;
        width: 125px;
    }
    &__social-link,
    &__menu-link{
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
    &__copyright{
       background-color: $title; 
       color: #A1A1A1;
       text-align: center;
       padding: 42px 0 42px;
       font-size: 16px;
       line-height: 27px;
       color: #A1A1A1;
    }
}