@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    &__inner{
       display: flex;
       justify-content: space-between;
       align-items: center; /*вертикальное выравнивание*/
       height: 120px;
    }
    &__btn{
        background-color: transparent; /*фон кнопки такой же как основной фон*/
        border: none;
        cursor: pointer;
    }
}

.logo{
    margin: 0 auto;/*максимально отталкнул от себя все слева и справо*/
}

.menu{
    &__list{
        display: flex;
        padding-left: 35px;
        padding-right: 60px!important;
    }
    &__list-item + .menu__list-item{
        padding-left: 80px;
    }
    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9033);
        line-height: 22px;
    }
}

.footer{
    &__content{
       background-color: #DFDFDF;
       padding: 60px 0 80px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 540px;
    }
    &__info-title{
        color: $title;
        @extend %title-font;
        margin-bottom: 14px;
        line-height: 23px;
    }
    &__info-text{
        margin-bottom: 16px;
        max-width: 475px;
    }
    &__info-email{
        font-weight: 600;
        font-size: 14px;
        color: $title;
        display: inline-block; /*чтобы к ссылке можно было применить блочные селекторы,т.к. это ссылка, а огна строчная*/
        margin-bottom: 22px;
        padding-left: 30px; /*резервируем пустое место для конверта: размер конверта плюс отступ до него из макета*/
        position: relative;
        &::before{
            content: '';
            background-image: url('../images/footer-email.svg');
            left: 0;
            width: 16px;
            height: 12px;
            position: absolute;
            background-repeat: no-repeat;
            top: 8px;
        }
    }
    &__form{
        display: flex;
    }
    &__form-input{
        padding: 6px 10px 6px 18px;
        border-radius: 21px;
        background-color: transparent;
        border: 1px solid rgba($title, .7);
        width: 100%;
        
        &::placeholder{ /*всегда нужно особое приглашение в плане стилей*/
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    &__form-button{
        background-color: $title;
        border: none;
        color: #fffff0;
        border-radius: 21px;
        font-weight: 600;
        padding: 6px 12px;
        width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }
    &__social-list{
        width: 125px;
        margin-right: auto;
        margin-left: 99px;
    }
    &__social-link{
        padding-left: 28px;/*резервируем место под значки*/
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            left: 0;
            width: 16px;
            height: 16px;
            top: 5px;  
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/footer-facebook.svg);
    }
    &__social-link--instagram::before{
        background-image: url(../images/footer-instagram.svg);
        width: 14px;
        height: 14px;
        top: 4px;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/footer-Pinterest.svg);
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/footer-whatsapp.svg);
    }
    &__social-link--youtube::before{
        background-image: url(../images/footer-youtube.svg);
        width: 18px;
    }
    &__menu-list{
        margin-right: 60px;
        width: 125px;
    }
    &__menu-link{
        
    }
    &__social-link,
    &__menu-link{
        display: inline-block;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 14px;
        color: #707070;
    }
    &__copyright{
       background-color: $title; 
       color: #A1A1A1;
       text-align: center;
       padding: 42px 0 42px;
       font-size: 16px;
       line-height: 27px;
       color: #A1A1A1;
    }
}